[Unit]
Description=The radio service
After=syslog.target

[Service]
Type=simple
User=radio
Group=radio
WorkingDirectory=/home/radio/src/python/radioservice
ExecStart=/home/radio/src/python/radioservice/venv/bin/python \
  radio.py -D \
  -c /var/radio/config/config.yml
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
